@import "_var";
*{
    margin: 0;
    padding: 0;
}
 [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }

.row{
    margin-left: 5%;
    margin-right: 5%;
}

.header-top{
    background-color: $color_header_top;
    height: 30px;
    font-size: 12px;
    .left_header_top{
        margin-top: 5px;
        vertical-align: middle;
    }
    .right_header_top{
        display: flex;
        flex-direction: row;
        vertical-align: middle;
        margin-top: 5px;
    }
    img{
        margin-right: 5px;
        margin-left: 0;
    }
    .row{
        height: 30px;
       margin-left: 5%;
       margin-right: 5%;
       
       a{
        text-decoration: none;
        color: white;
        }
    }
    .container-fluid{
        height: 30px;
        color: white;
        & > a{
            text-decoration: none;
            color: white;
        }
    }
}
.header_middle{
    font-size: 12px;
    height: 80px;
    .pill_2{
        margin-top: -10px;
    }
    .describe_hour{
        color: orange;
    }
    .search_bar{
        width: 80%;
        height: 40px;
        border-radius: 30px 0px 0px 30px;
        border :1px solid #E1E1E1;
        padding-left: 15px;
    }
    .form-inline{
        padding-left: 10%;
    }
    .search_button{
        border-radius: 0px 20px 20px 0px;
        border-style:none;
        width: 10%;
        height: 40px;
        background-color: #ff8e0a;
        border-color: #ff8e0a;
    }
    .cart{
        display: inline-flex;
    }
    .heart, .shopping_cart{
        width: 45px;
        height:35px;
        padding: 5px;
        .badge-pill{
            margin-top: 0;
           margin-right: 15px;
        }
        .pin{
            border-radius: 20px 20px 20px 20px;
            width: 20px;
            text-align: center;
            background: orange;
            color: white;
            position: absolute;
            top: 0px;
            left: 25px;
        }
        .pin_1{
            margin-left: 35px;
        }
    }
}
.navbar_container{
    border-top: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
    .navbar{
        width: 100%;
        padding: 0;
    }
    li{
        //border: 1px solid red;
        background-color: white;
    }
    .navbar-nav{
        width: 100%;
        text-align: center;
    }
    .dropdown{
        background-color: #FF8E0A;

        #navbarDropdownMenuLink{
            color:white!important;
        }
        .tribar_menu{
            margin-right: 15px;
        }
    }
    .nav-link{
        color: $menu_link!important;
    }
    .nav-link:hover{
        color: #FF8E0A!important;
    }
    .nav-link::after{
        color: transparent;
    }
    .tribar_menu{
        margin-right: 15px;
    }
}



